
.rex{
    
    background: url(sarthak7.png);
    background-size: cover;
    background-position: center; 
    padding: 30px;
    background-repeat: no-repeat;
}
.hmm{
    color: #31379d;
    
} 
.board{
    background-color: #d8565e;
    color: #202464;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:25px ;
    padding-right: 25px ;
    margin-left: 440px;
    margin-top: 15px;
    margin-bottom: 150px;
    border-radius: 50px;

}
.names{
    padding-left: 150px;
    padding-bottom: 0px ;
    color: #202464;
}
#reala{
    padding-left: 510px;
    color: #EA1C2C;
    padding-top: 20px;
    padding-bottom: 20px;
}

#realb{
    padding-left: 90px;
    color: #EA1C2C;
    padding-top: 20px;
    padding-bottom: 20px;
}

#realc{
    padding-left: 60px;
    color: #EA1C2C;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#reald{
    padding-left: 90px;
    color: #EA1C2C;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}


body {
    background: white;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.9rem;
    font-weight: 500;    
}

#mainNavbar .nav-link {
    color: #31379d;
    padding-left: 30px;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #d8565e;
}

#headingGroup h1 {
    font-weight: 500;
    font-size: 9rem;
}

#headingGroup h4 {
    font-weight: 50;
    font-size: 1.4rem;
}
.navbar.scrolled {
    background: #91b3fa;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    #reala{
        padding-left: 80px;
    }
}




/* scroll */
.scroll[data-scroll="in"]{
    transform: scale(1);
    transition: .5s;
    opacity: 1;
}

.scroll[data-scroll="out"]{
    transform: scale(0.5);
    transition: .5s;
    opacity: 0;
}

.scroll2[data-scroll="in"]{
    transform: scale(1);
    transition: 2s;
    opacity: 1;
}

.scroll2[data-scroll="out"]{
    transform: scale(0.5);
    transition: 2s;
    opacity: 0;
}

.scroll3[data-scroll="in"]{
    transform: scale(1);
    transition: 3s;
    opacity: 1;
}

.scroll3[data-scroll="out"]{
    transform: scale(0.5);
    transition: 3s;
    opacity: 0;
}

