

.eac{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.eac{
    position: relative;
    width: 100%;
    height: 250px;
    background: #bbe0fd;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}

.wave#wave3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}


.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes animate{
    0%,100%
    {
        transform: translateY(0px);
    }
   50%
    {
        transform: translateY(10px);
    }
}

.sec{
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #111;
}

.sec p{
    font-size: 1.2em;
    color: #111;
}
    
