{% extends 'recognize/base.html' %}
{% block title %}Stream{% endblock  %}
{% block body %}
    <section class="container-fluid ">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div  class="text text-center mt-5">
                    <h1>Video Streaming</h1>
                    <img src="{% url 'recognize:videostream' %}">
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="img-fluid " src="https://image.freepik.com/free-vector/e-sport-game-streaming-abstract-concept-illustration_335657-2197.jpg" alt="">
            </div>
        </div>
    </section> 
{% endblock  %}