{% extends 'recognize/base.html' %}
{% block title %}Stream{% endblock  %}
{% block body %}
    <section class="container-fluid ">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div  class="text text-center mt-5">
                    <h1 class="bro">Video Streaming</h1>
                    <img  class="ho" src="{% url 'recognize:videostream' %}">
                </div>

                 <a href = "{% url 'recognize:home' %}"><button type="button" class=" btn btn-outline-primary d-flex justify-content-center" >Stop Stream</button></a>

            </div>

            <div class="col-lg-6 px-0">
                <img class="ho img-fluid " src="https://image.freepik.com/free-vector/e-sport-game-streaming-abstract-concept-illustration_335657-2197.jpg" alt="">
            </div>

        </div>

    </section> 

{% endblock %}