  
{% extends 'recognize/base.html' %}
{% block title %}Upload{% endblock  %}
{% load static %}
{% block strapings %}
<link rel="stylesheet" href="{% static 'recognize/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'recognize/style.css'%}">
{% endblock  %}
{% block body %}
    <div class="container-fluid pt-5">
        {% if "success" in request.get_full_path %}
            <div class="alert alert-success alert-dismissible">
            <a href="{% url 'recognize:upload' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Image Submited
        </div>
        {% elif "MFDorNF"  in request.get_full_path %}
        <div class="alert alert-danger alert-dismissible">
            <a href="{% url 'recognize:upload' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Face not in dataset.
        </div>
        {% elif "NIS"  in request.get_full_path %}
        <div class="alert alert-danger alert-dismissible">
            <a href="{% url 'recognize:upload' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> No Image Selected.
        </div>
        {% endif %}
        <div class="row p-5 mt-5">
            <div class="m-auto form-holder bg-dark p-1">
                <form action="{% url 'recognize:upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="inputImage" id="inputImage">
                    <div id="imageHolder"></div>
                    <h5 class="text-center text-white mt-2">Click On Image To Select</h5>
                    <h6 class="text-center text-white" id="fileName"></h6>
                    <button type="submit" class="btn btn-success mt-2 ml-5 mb-4">Upload Image</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'recognize/jquery.js'%}"></script>
    <script src="{% static 'recognize/bootstrap.js'%}"></script>
    <script>
        $('#imageHolder').click(function () {
            $('#inputImage').trigger('click');
        });

        $('#inputImage').change(function (e) {
            $('#fileName').html(e.target.files[0].name);
        });
    </script>
{% endblock  %}